- @comments.each do |comment|
  .media{id: "comment_#{comment.id}"}
    .media-left
      = image_tag comment.user.avatar, size: "60x60"
    .media-body
      %h4{class: "media-heading", id: "top-aligned-media"}
        = comment.user.name
      %p
        = comment.text
      - if current_user
        %span
          = link_to "編集", "#{@prototype.id}/comments/#{comment.id}/edit", method: :get, remote: true
        %span{id: "comment_list__delete"}
          = link_to "削除", "#{@prototype.id}/comments/#{comment.id}", method: :delete, remote: true
