.container.proto-new
  = form_for @prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          .cover-image-upload#main_image_uploader
            = f.fields_for :captured_images do |image|
              %img#main_preview{:width => "730", :height => "500", :src => ""}/
              = image.file_field :content, required: true
              = image.hidden_field :status, value: "main"

        .col-md-12
          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group
            - 3.times do |i|
              %li.list-group-item.col-md-4
                .image-upload
                  = f.fields_for :captured_images do |image|
                    %img#sub_preview{:width => "213.33", :height => "200",:src => ""}/
                    / .image-upload#image_#{i}_uploader
                    / %img#sub_#{i}_preview{:width => "213.33", :height => "200",:src => ""}/
                    = image.file_field :content
                    = image.hidden_field :status, value: "sub"


      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
      .row.text-center.proto-btn
        = f.submit "PUBLISH", id: "button", class: "btn btn-lg btn-primary btn-block"


  :javascript
      $(function(){
        var $cover_image = $(".cover-image-upload input[type = file]");
        var $sub_0_image = $("#image_0_uploader input[type = file]");
        var $sub_1_image = $("#image_1_uploader input[type = file]");
        var $sub_2_image = $("#image_2_uploader input[type = file]");

      
        $cover_image.change(function(){
          upload_main_image(this)
        });
      
        $sub_0_image.change(function(){
          upload_sub_image(this, 0)
        });
      
      
        $sub_1_image.change(function(){
          upload_sub_image(this, 1)
        });
      
        $sub_2_image.change(function(){
          upload_sub_image(this, 2)
        });
      });
