.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position
  .row
    .col-md-9.image-box
      = image_tag(@prototype.set_main_thumbnail.large, class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe

    %div{:class => "row proto-comments"}
      %h4{class: "col-md-12", id: "comment_count"} Comment ( #{@prototype.comments.count} )
      %div{class: "col-md-8", id: "comment_area"}
        %div{id: "comment_list"}
          = render "comment"

        %div
          - if current_user
            %form{action: "/prototypes/#{@prototype.id}/comments", method: :post, id: "new_comment"}
              %h4 Write a comment
              %div
              .row
                %div{:class => "form-group col-md-10"}
                  %textarea{:rows => "3", :class => "textbox", :name => "text", :id => "comment_text", :placeholder => "Your comments"}
                %div{:class => "form-group col-md-2"}
                  %input{:name => "comment", :type => "submit", :value => "COMMENT", :class => "btn btn-primary"}
                %br
